pkgbase = oci2bin
	pkgdesc = Convert OCI/Docker images into self-contained ELF executables
	pkgver = 0.17.0
	pkgrel = 1
	url = https://github.com/latedeployment/oci2bin
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = texinfo
	depends = python
	depends = docker
	depends = gcc
	source = oci2bin-0.17.0.tar.gz::https://github.com/latedeployment/oci2bin/archive/refs/tags/v0.17.0.tar.gz
	sha256sums = 9960cb690f4af3baee3172cb7393fd2d1906c69f2ca290c9f211bdc95e984ba9

pkgname = oci2bin
